In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers = ["PG", "BEI.DE"]

In [4]:
sec_data = pd.DataFrame()

In [5]:
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source="yahoo", start="2007-1-1")["Adj Close"]

In [7]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3493 entries, 2007-01-03 to 2020-11-13
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PG      3493 non-null   float64
 1   BEI.DE  3429 non-null   float64
dtypes: float64(2)
memory usage: 81.9 KB

In [8]:
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  42.636059  39.576427
2007-01-04  42.312363  39.836281
2007-01-05  41.949009  39.017349
2007-01-08  42.041492  39.025219
2007-01-09  41.935799  38.143303

In [9]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-11-09  137.990005   98.440002
2020-11-10  140.259995   99.459999
2020-11-11  142.070007  100.750000
2020-11-12  142.149994  101.099998
2020-11-13  144.279999  101.500000

In [11]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-11-09 -0.037270  0.054270
2020-11-10  0.016317  0.010308
2020-11-11  0.012822  0.012887
2020-11-12  0.000563  0.003468
2020-11-13  0.014873  0.003949

[3493 rows x 2 columns]

In [15]:
print(sec_returns["PG"].mean())
print(sec_returns["PG"].mean() * 250)
print(sec_returns["PG"].std())
print(sec_returns["PG"].std() * (250 ** 0.5))

0.0003490995135909439
0.08727487839773597
0.011915809419376954
0.18840548964859843

In [14]:
print(sec_returns["BEI.DE"].mean())
print(sec_returns["BEI.DE"].mean() * 250)
print(sec_returns["BEI.DE"].std())
print(sec_returns["BEI.DE"].std() * (250 ** 0.5))

0.0002619484626321777
0.06548711565804442
0.01388121913483603
0.21948134582996906

In [19]:
sec_returns[["PG", "BEI.DE"]].mean() * 250

PG        0.087275
BEI.DE    0.065487
dtype: float64

In [20]:
sec_returns[["PG", "BEI.DE"]].std() * (250 ** 0.5)

PG        0.188405
BEI.DE    0.219481
dtype: float64

In [21]:
sec_returns["PG"].var()

0.00014198651411891257

In [22]:
sec_returns["BEI.DE"].var()

0.00019268824466933795

In [23]:
sec_returns["PG"].var() * 250

0.03549662852972814

In [24]:
sec_returns["BEI.DE"].var() * 250

0.04817206116733449

In [26]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000142  0.000045
BEI.DE  0.000045  0.000193

In [27]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.035497  0.011155
BEI.DE  0.011155  0.048172

In [29]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.269267
BEI.DE  0.269267  1.000000

In [33]:
weights = np.array([0.5, 0.5])

In [36]:
# portfolio variance
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.026494847554189252

In [38]:
# portfolio volatility
pfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights)) ** 0.5
pfolio_vol

0.1627723795801648

In [41]:
PG_var_a = sec_returns["PG"].var() * 250
PG_var_a

0.03549662852972814

In [43]:
BEI_var_a = sec_returns["BEI.DE"].var() * 250
BEI_var_a

0.04817206116733449

In [46]:
# diversifiable risk
dr = pfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a)
dr

0.005577675129923595

In [47]:
# non-diversifiable risk
n_dr = pfolio_var - dr
n_dr

0.020917172424265655